<html>
  <head>
    <link href='style.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='style.css' rel='stylesheet'>
    <title>Hop Sport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="banner">
  <h1>Hop Sport</h1>
  <p>Le site des passionnés de transpi</p>
  <button type="button" class="btn btn-primary btn-lg">Bouge-toi !</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      
      <div class="card">
        <img src="images/basket.png" alt="picture description" width="100">
        <h2>Basket</h2>
        <p>Pour <strong>Sauter</strong> très haut</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/foot.png" alt="picture description" width="100">
      <h2>Foot</h2>
     <p>Pour <strong>Courrir</strong> très vite</p>
    </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/tennis.png" alt="picture description" width="100">
      <h2>Tennis</h2>
      <p>Pour <strong>Être</strong> très précis</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/volley.png" alt="picture description" width="100">
      <h2>Volley</h2>
     <p>Pour <strong>Smasher</strong> très fort</p>
    </div>
    </div>
  </div>
</div>

<div class= "container">
<div class = "row">
<div class = "col-xs-12 col-sm-offset-2 col-sm-8">
<div class="form-wufoo">

<div id="wufoo-z1y1rp3i0e7hezm">
Fill out my <a href="https://vdc33.wufoo.com/forms/z1y1rp3i0e7hezm">online form</a>.
</div>
<script type="text/javascript">var z1y1rp3i0e7hezm;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'vdc33',
'formHash':'z1y1rp3i0e7hezm',
'autoResize':true,
'height':'305',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1y1rp3i0e7hezm = new WufooForm();z1y1rp3i0e7hezm.initialize(options);z1y1rp3i0e7hezm.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


</div>
</div>
</div>
</div>

<div class='container'>
    <div class='jumbotron'>
      <p>Clique pour en savoir plus !</p>
      <p><a class='btn btn-primary btn-lg'>
        href='search' role=button'>Recherche</a></p>
      </div>
    </div>


<div id="footer">
  <p>This is a playground landing ©Le Wagon</p>
  <ul class="list-inline">
  <li><a href="#"><i class="fa fa-youtube"></i></a></li>  &nbsp;
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>  &nbsp;
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>  &nbsp;
  <li><a href="#"><i class="fa fa-github"></i></a></li>  &nbsp;
</ul>
</div>